fastapi
groq
openai
sqlalchemy
pydantic
requests
openrouter
dotenv
uvicorn
gunicorn
psycopg2
google-genai
pgvector
huggingface_hub
numpy
piper-tts
en_US-lessac-medium.onnx
en_US-lessac-medium.onnx.json
*.onnx
*.onnx.json
